<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :rec_moves %><br>
    <%= f.number_field :rec_moves %>
  </div>
  <div class="field">
    <%= f.label :rec_secs %><br>
    <%= f.number_field :rec_secs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
