
<div class="container">
  <div class="row text-center">
    <div class="col-md-6">
      <h1>Your Photos</h1>  
    </div>

    <div class="col-md-6"> 
          <h2> <%= button_to 'New Photo', new_photo_path, :class=>'btn btn-primary btn-lg', :method => :get%> </h2>
    </div>
  </div>

    <div class="row text-center">

        <% @photos.each do |photo| %>

          <div class="col-md-3">
            <h3> <%= photo.name %> </h3>
            <br>
              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7">
                  <img src=" http://www.ucarecdn.com/<%= photo.UUID %>/-/resize/150x150/ ">
                </div>
                <div class="col-md-2" style="float:left;">
                <%= button_to 'Play', photo, :class=>'btn btn-default btn-md', :method => :get %>
            
                <%= button_to 'Update', edit_photo_path(photo), :class=>'btn btn-default btn-md', :method => :get  %>
               
                <%= button_to 'Delete', photo, :class=>'btn btn-default btn-md', method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
                <div class="col-md-1">
                </div>
              </div>
          </div>

        <% end %>
      
    </div>


</div>



