<!DOCTYPE html>
<html>

<head>
  <title>Slider</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script>
	  UPLOADCARE_LOCALE = "en";
	  UPLOADCARE_TABS = "file url facebook gdrive";
	  UPLOADCARE_AUTOSTORE = true;
	  UPLOADCARE_PUBLIC_KEY = "6d1b3e35610feb2cc472";
	</script>
	<script src="//ucarecdn.com/widget/1.5.5/uploadcare/uploadcare.full.min.js">
	</script>

</head>

<body>
  <%= render 'shared/navbar' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<%= yield %>
</body>
</html>
